doctype html
html(lang="en")
  head
    title jusEdit
    script(type='text/javascript', src="https://fb.me/react-0.13.3.js")
    link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    #navContainerLoggedOut
    if(loggedIn)
      h1 logged  In
    else
      h1 logged out
    block content
  script(type='text/javascript', src="js/lib/jquery-2.1.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(src="js/bundle.js")
